@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", serif;
  background-color: #eff0f2;
}

.header {
  background-color: #ffff;
}
.headeer {
  padding: 10px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
}
.logo h1 {
  font-size: 40px;
}
.logo-nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav {
  margin-left: 40px;
}
nav ul {
  gap: 1.5rem;

  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

nav li {
  font-size: 20px;
}
nav li:hover {
  color: #fd561e;
}

.notif {
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.notiff {
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.notif input {
  padding: 4px;
  border: #adb5bd 1px solid;
  outline: none;
  width: 260px;
  height: 30px;
  border-radius: 24px;
}

.notiff img {
  height: 29px;
}

.profile-header img {
  width: 100%;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/*  */
.minii {
  background-color: #ffff;
  padding: 40px;
  margin: auto;

  max-width: 1200px;
  align-items: center;
  border-radius: 10px;
  margin-top: 90px;
}
.mini {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.sub-mini {
  display: flex;
  gap: 10px;
}

.href {
  background-color: #e9ecef;
  padding: 12px;
  border-radius: 6px;
}

.update a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*  */
.joint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 75%;
}
.donation {
  background-color: black;
  color: #ffff;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 45px;
  border-radius: 10px;
}
.refer {
  background-color: #ffff;
  max-width: 600px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 10px;
}

.don {
  width: 50%;
}
.donhref {
  background-color: #ffff;
  color: black;
  padding: 11px;
  border-radius: 4px;
}
.donlink {
  margin-top: 50px;
}
.donlink a {
  text-decoration: none;
}

.don h2{
  margin-bottom: 15px;
}

.don p{
  color: #CED4DA;
  ;
}
.referlink{
  margin-top: 55px;
}
.referhref{
  background-color: #ffff;
  color:#FD561E;
  padding: 11px;
  border-radius: 5px ;
  border: 2px solid #FD561E;
}

.referlink a{
text-decoration: none;
}
.ref{
  width: 50%;
  margin-left: 18px;
}
.ref h2 {
  margin-top: 30px;
}

.ref p {
  margin-top: 12px;
}

.ref p{
  color: #343A40;
  ;
}
/*  */
.coll-one{
  display: flex;
  align-items: center;
  gap: 10px;
}
.coll-one img{
  max-width: 100%;
  height: auto;
  display: block;
}
.profile{
  
  background: #ffff;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}

.profile h3 {
  font-size: 1.2em;
  margin: 8px 0;
}

.profilefooter{
  display: flex;
  align-items: center;
 justify-content: space-between;
 margin-top: 12px;
}

 .donation-container,
 .donation-container-two {
   display: flex;
   flex-wrap: wrap;
   gap: 18px; /* Space between components */
   justify-content: center; /* Center alignment for components */
   margin-bottom: -20px; /* Space between the two sections */
   margin-top: 40px;
 }

 .numco{
  color:#FD561E;
 }

.enter{
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin: 60px auto;
  max-width: 1440px;
}